<!DOCTYPE html>
<html lang="{{language}}">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>
      {{libraryName}} OPAC - {% block title %}{% endblock %}
    </title>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/mail.js"></script>
    <script src="js/backToTop.js"></script>
    <script src="js/uwu.js"></script>
  </head>

  <body class="has-navbar-fixed-top" id="{{locale}}">
    <!--
      Lizenzen: https://github.com/Metalab/library-opac/blob/main/.github/3dparty.md
      Software: MIT Lizenz, 2020 Metalab
      Sourcode: https://github.com/Metalab/library-opac/
    -->
    {% include "_menu.html.j2" %}
    <div id="mainContainer">
      <h1 class="title is-1 has-text-weight-bold has-text-centered">
        {{self.title()}}
      </h1>
      <img src="{% block logoFileName %}{% endblock %}" alt="{{libraryName}} {{self.title()}} Logo" class="logo" id="{{self.title() | replace(" ", "")}}">
      {% block content %}{% endblock %}
    </div>
    <a id="backToTop">
      <img src="img/icons/arrow.png" alt="{{ _( "Back to top" ) }}">
    </a>
    <footer class="is-hidden-mobile">
      <div class="content">
        <div class="is-pulled-left">
          <a href="https://metalab.at/" target="_blank">{{libraryName}}</a> | <a href="{{fileNamePrefix}}imprint.html">{{ _( "Imprint") }}</a> | <a href="https://gitlab.com/metalab-library/opac" target="_blank">{{ _( "Source Code" ) }}</a> | <a href="docs" target="_blank">{{ _( "Documentation" ) }}</a> | <a href="https://gitlab.com/metalab-library/opac/-/commits/main"><img src="https://gitlab.com/metalab-library/opac/badges/main/pipeline.svg" alt="{{ _( "Build Status") }}"></a>
        </div>
        <div class="is-pulled-right">
          <div class="is-inline-block language-switcher">
            {% for locale_flag in locales %}
              {% if locale_flag == defaultLocale %}
                <a class="locale-flag is-link is-light" href="{{targetFilenameWithoutPrefix}}">
              {% else %}
                <a class="locale-flag is-link is-light" href="{{locale_flag}}{{targetFilenameWithoutPrefix}}">
              {% endif %}
                <img src="img/locales/{{locale_flag}}.png" alt="{{locale_flag}}">
              </a>
            {% endfor %}
          </div>
          | <div class="is-inline-block">{{ _( "Generation Time" ) }}: {{generationTime}}</div>
        </div>
      </div>
    </footer>
  </body>
</html>
