.AußenstelleBrigittenauI {
  background-color: rgba(250, 235, 0, 0.2);
}

.Außenstellenospace {
  background-color: rgba(30, 255, 0, 0.2);
}

.AußenstelleOttakring {
  background-color: rgba(0, 255, 200, 0.2);
}

.HauptstelleMetalab {
  background-color: rgba(15, 0, 250, 0.2);
}

.AußenstelleWaffelkollektiv {
  background-color: rgba(250, 0, 0, 0.2);
}

.AußenstelleMariahilf {
  background-color: rgba(119, 221, 119, 0.2)
}

#ebu_KE {
  font-family: "Comic Sans MS", cursive, sans-serif !important;

  .subtitle,
  .title,
  p {
    font-family: "Comic Sans MS", cursive, sans-serif !important;
  }

  .title {
    color: black;
    text-shadow: -1px 1px #ef3550, -3px 3px #f48fb1, -5px 5px #7e57c2, -7px 7px #2196f3, -9px 9px #26c6da, -11px 11px #43a047, -13px 13px #eeff41, -15px 15px #f9a825, -17px 17px #ff5722;
    transform: rotate(-$random+deg);
  }

  .subtitle {
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    transform: rotate($random+deg);
  }

  .navbar,
  footer {
    background: linear-gradient(to bottom,#e2453c 0,#e2453c 16%,#e07e39 16%,#e07e39 32%,#e5d667 32%,#e5d667 48%,#51b95b 48%,#51b95b 66%,#1e72b7 66%,#1e72b7 86%,#6f5ba7 86%) no-repeat;

    a:hover,
    a:link,
    a:visited {
      color: black;
    }
  }

  .logo {
    transform: rotate(180deg);
  }

  .active {
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red) !important;
  }

  .shadow {
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);

    p {
      background-color: rgba(215, 140, 255, 0.5) !important;
    }
  }

  .has-hover {
    &:hover {
      box-shadow: inset 0 0 1px 1px rgba(59, 178, 109, 0.5);
    }
  }
}
